<main>
  @if (isServerSleeping) {
    <div class="server-warning-banner">
      <div class="warning-content">
        <div class="spinner-mini"></div>
        <div class="text-container">
          <p>
            <strong>{{ serverMessage() }}</strong><br>
            <span>Los datos se están cargando. Tiempo estimado: {{ countdown() }}s</span>
          </p>
          
          <div class="progress-track">
            <div class="progress-fill" [style.width.%]="((90 - countdown()) / 90) * 100"></div>
          </div>
        </div>
      </div>
    </div>
  }

  <div id="page-wrapper">
    @if (mostrarHeader) {
      <app-header></app-header>
    }
    <router-outlet></router-outlet>
  </div>
</main>