<div class="modal-overlay" (click)="onClose()">
  <div class="auth-card modal-content" (click)="$event.stopPropagation()">
    @if (!isLoading) {
      <button type="button" class="close-btn" (click)="onClose()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    }

    <div class="card-header">
      <h2>Recuperar Contraseña</h2>
      <div class="header-divider"></div>
    </div>

    @if (successMessage) {
      <div class="success-box">
        <i class="fa-solid fa-envelope-circle-check"></i>
        <p>{{ successMessage }}</p>

        <button
          type="button"
          (click)="onSubmit()"
          class="btn-resend"
          [disabled]="countdown > 0 || isLoading"
        >
          @if (countdown > 0) {
            Reenviar en {{ countdown }}s
          } @else {
            ¿No te ha llegado? Reenviar
          }
        </button>

        <button
          type="button"
          (click)="onClose()"
          class="btn-return"
          style="
            margin-top: 10px;
            background: transparent;
            border: 1px solid #37df8c;
            color: #37df8c;
          "
        >
          Cerrar
        </button>
      </div>
    } @else if (errorMessage) {
      <div class="error-box">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <p>{{ errorMessage }}</p>
        <button type="button" (click)="onClose()" class="btn-return btn-error">Cerrar</button>
      </div>
    } @else {
      <div class="form-content">
        <p class="instructions">
          Introduce el correo electrónico asociado a tu cuenta y te enviaremos las instrucciones.
        </p>

        <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
          <div class="input-group">
            <i class="fa-solid fa-envelope input-icon"></i>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              required
              placeholder="tu@email.com"
              [disabled]="isLoading"
            />
          </div>

          <button type="submit" class="btn-submit" [disabled]="!forgotForm.valid || isLoading">
            @if (isLoading) {
              <i class="fa-solid fa-spinner fa-spin"></i> Enviando...
            } @else {
              Enviar enlace de recuperación
            }
          </button>
        </form>
      </div>
    }
  </div>
</div>
