
<div class="autoflow-home">
  <section class="discovery-section">
    <div class="discovery-text">
      <h1>DESCUBRE TU<br />PRÓXIMO COCHE</h1>
      <p>Descubre un viaje basado en tu próximo coche y anímate a vender.</p>
      <button class="btn-discovery">DESCUBRE</button>
    </div>

    <div class="vehicle-icons-grid">
      <div class="icon-block bg-green-light">
        <img src="/icons/suv.svg" alt="SUV" />
      </div>
      <div class="icon-block bg-teal">
        <img src="/icons/sedan.svg" alt="Sedán" />
      </div>
      <div class="icon-block bg-blue-medium">
        <img src="/icons/car.svg" alt="Car" />
      </div>

      <div class="icon-block bg-blue-dark wide">
        <img src="/icons/van.svg" alt="Coupé" />
      </div>
      <div class="icon-block bg-teal">
        <img src="/icons/coupe.svg" alt="Furgoneta" />
      </div>
      <div class="icon-block bg-blue-medium wide">
        <img src="/icons/pick-up.svg" alt="Pickup" />
      </div>
      <div class="icon-block bg-green-light">
        <img src="/icons/sport.svg" alt="Sport" />
      </div>
    </div>
  </section>
</div>
<app-filters></app-filters>
<app-galery-dynamic></app-galery-dynamic>
