<div class="autoflow-home">
  <section class="discovery-section">
    <div class="discovery-text">
      <h1>DESCUBRE TU PRÓXIMO COCHE</h1>
      <p>Un viaje innovador para encontrar el coche perfecto que se adapte a tu estilo de vida.</p>
      <button class="btn btn-primary btn-discovery">DESCUBRE</button>
    </div>
    <div class="vehicle-icons-grid">
      <div class="icon-block highlighted">
        <img src="assets/icons/sedan.svg" alt="Sedán Icon" /> <span>SEDÁN</span>
      </div>
      <div class="icon-block">
        <img src="assets/icons/suv.svg" alt="SUV Icon" /> <span>SUV</span>
      </div>
      <div class="icon-block">
        <img src="assets/icons/electric.svg" alt="Electric Car Icon" /> <span>ELECTRIC</span>
      </div>
      <div class="icon-block electric-icon">
        <img src="assets/icons/plug.svg" alt="Electric Plug Icon" />
      </div>
    </div>
  </section>
</div>
<app-filters></app-filters>
<app-galery-dynamic></app-galery-dynamic>
