<section class="car-gallery-section">
  <div class="gallery-header">
    <h2>GALERÍA DINÁMICA DE FILTRADO</h2>

    <div class="badge-filters">
      <button 
        [class.active]="filtroSeleccionado === BadgeType.ALL" 
        (click)="setFiltro(BadgeType.ALL)">TODOS</button>
      <button 
        [class.active]="filtroSeleccionado === BadgeType.NEW" 
        (click)="setFiltro(BadgeType.NEW)">RECIÉN LLEGADOS</button>
      <button 
        [class.active]="filtroSeleccionado === BadgeType.FEATURED" 
        (click)="setFiltro(BadgeType.FEATURED)">DESTACADOS</button>
    </div>


    <div class="gallery-nav">
      <span class="nav-arrow" (click)="moverCarrusel(-1)">&lt;</span>
      <span class="nav-arrow" (click)="moverCarrusel(1)">&gt;</span>
    </div>
  </div>

  <div class="car-cards-grid" #carrusel>
    @for (coche of coches; track coche.make + " " + coche.model) {
      <div class="car-card">
        <div class="car-image-container">
          @if (coche.badge) {
            <span
              class="badge"
              [ngClass]="coche.badgeType === 'featured' ? 'badge-featured' : 'badge-new'"
            >
              {{ coche.badge }}
            </span>
          }

          <span class="heart-icon" [class.is-liked]="coche.isSaved" (click)="toggleGuardar(coche)">
            {{ coche.isSaved ? '❤️' : '♡' }}
          </span>

          <img class="car-image" [src]="coche.imageUrl" [alt]='coche.make + " " + coche.model' />
        </div>

        <div class="car-details">
          <div class="title-price-row">
            <h3>{{ coche.make}} {{ coche.model }}</h3>
            <span class="car-price">{{ coche.price | number: '1.0-0' }} €</span>
          </div>
          <span class="car-subtitle">{{ coche.year }} · {{ coche.transmission }}</span>

          <div class="car-stats-row">
            <div class="stat">
              <span class="stat-value">{{ coche.mileage }}</span>
              <span class="stat-label">Km</span>
            </div>
            <div class="stat">
              <span class="stat-value">{{ coche.power }}</span>
              <span class="stat-label">Motor</span>
            </div>
            <div class="stat">
              <span class="stat-value">{{ coche.consumption }}</span>
              <span class="stat-label">Consumo</span>
            </div>
            <div class="stat">
              <span class="stat-value">{{ coche.fuelType }}</span>
              <span class="stat-label">Combustible</span>
            </div>
          </div>
        </div>

        <div class="car-details">
          <div class="hover-btn-container">
            <button class="btn-details" (click)="showDetails(coche.id)">VER DETALLES</button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="empty-state">
        <h3 style="color: white">No hay coches disponibles</h3>
      </div>
    }
  </div>
</section>
