<header class="autoflow-header">
  <div class="logo">
    <span class="logo-icon">MM</span>
    MarMotor
  </div>
  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
      >Inicio</a
    >
    <a routerLink="/coches" routerLinkActive="active-link">Coches</a>
    <a routerLink="/destacados" routerLinkActive="active-link">Destacados</a>
    <a routerLink="/compañia" routerLinkActive="active-link">Compañia</a>
  </nav>
  <div class="header-actions">
    <button class="btn btn-outline">Log in</button>
  </div>
</header>
